body {
  height: 120px;
}

#root {
  height: 120px;
}

.pri {
  background: linear-gradient(#d3ebff, #fff0d3);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120vh;
  /* for centering */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
  height: 100vh;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button{
    background-color: #04aa6d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover{
    opacity: 0.8;
}

h1{
    text-align: center;
}
